/**ECOM-INSERT-CSS**/
                .ecom-column {
                    position: relative;
                    /* display: flex; responsive generate display block */
                }
                .ecom-column>.core__column--wrapper {
                    align-items: flex-start; /* fix tam de mn lam layout */
                    display: flex;
                }
                .ecom-column:hover {
                    z-index: 1;
                }
                @media only screen and (min-width: 768px) {
                    .ecom-column>.core__column--wrapper {
                        height: 100%;
                    }
                }
                .ecom-row {
                    width: 100%;
                    position: relative;
                }
                .ecom-section__video-bg {
                    overflow: hidden
                }
                .ecom-section__overlay > .ecom-overlay, .ecom-section__overlay .ecom-video-background-youtube{
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                }
                .ecom-row:not(.ecom-section) {
                    float: left;
                }
                .ecom-row.ecom-section {
                    clear: both;
                }
                .ecom-row:hover {
                    z-index: 1;
                }
                .ecom-row>div.core__row--columns.core__row--full {
                    max-width: 100%;
                }
                @media (min-aspect-ratio: 16/9) {
                    .ecom-section__overlay .ecom-video-background-youtube  { height: 300%; top: -100%; }
                }
                @media (max-aspect-ratio: 16/9) {
                    .ecom-section__overlay .ecom-video-background-youtube  { width: 300%; left: -100%; }
                }
                @supports not (aspect-ratio: 16 / 9) {
                    .ecom-video-background-youtube:before {
                        display: block;
                        content: "";
                        width: 100%;
                        padding-top: 56.25%;
                    }
                    .ecom-video-background-youtube .ecom-video-background {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                    .ecom-video-background {
                        -o-object-fit: unset !important;
                        object-fit: unset !important;
                    }
                }
                @media (max-width: 767px) {
                    .ecom-section__video-bg .ecom-video-background-youtube {
                        display: none;
                    }
                }
                
                .ecom__text--dropcap:first-letter {
                    font-size: 40px;
                    color: #8A2BE2;
                    display:inline-flex;
                    border:1px solid transparent;
                    float:left;
                    line-height:1;
                }
            
                    .ecom-element-button.ecom-button-default{
                        display:flex;
                    }
                    a.ecom__element--button{
                        display: inline-flex;
                        align-items: center;
                        text-decoration: none;
                        text-align:center
                    }
                    .ecom__element--button-icon{
                        display:inline-flex;
                        color:inherit;
                    }
                    .ecom__element--button-icon svg{
                        width:24px;
                        height:auto
                    }
                
                    /**
                     * EComposer Element Slider
                     */
                    .ecom-elements-slider {
                      overflow: hidden;
                    }
                    body[ecom-loaded] .ecom-elements-slider {
                      overflow: unset;
                    }
                    .ecom-swiper-navigation-position{
                        display:flex;
                    }
                    .ecom-swiper-navigation-position button{
                        margin:0
                    }
                    .ecom-swiper-navigation button{
                        position:unset;
                        margin:0
                    }
                    .ecom-slider--container {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                    }
                    .ecom-swiper-pagination-bullet:only-child {
                        opacity: none
                    }
                    .ecom-swiper-button svg{
                        width:24px;
                        height:24px;
                    }
                    .ecom-flex-center, .ecom-swiper-navigation {
                        display: flex;
                        align-items: center;
                    }
                    .ecom-swiper-navigation{
                        justify-content: center
                    }
                    .ecom-slider img {
                        display: block
                    }
                    .ecom-slider--container .ecom-swiper-pagination-bullet img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover
                    }
                    .ecom-slider--container .ecom-swiper-button-next:after,
                    .ecom-slider--container .ecom-swiper-button-prev:after {
                        content: none;
                    }
                    .ecom-slider--container .ecom-swiper-navigation[data-navigator-type="combine"] .ecom-swiper-button-next,
                    .ecom-slider--container .ecom-swiper-navigation[data-navigator-type="combine"] .ecom-swiper-button-prev {
                        position: static;
                        margin: 0;
                    }
                    .ecom-slider--container .ecom-swiper-button-next,
                    .ecom-slider--container .ecom-swiper-button-prev {
                        border: 0;
                        background: transparent;
                        width: auto;
                        height: auto;
                        padding: 5px;
                        color: #444
                    }
                    .ecom-slider--container .ecom-swiper-pagination {
                        position: relative;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center
                    }
                    .ecom-slider--container .ecom-swiper-pagination-bullet {
                        width: 15px;
                        height: 15px;
                        opacity: 1;
                        overflow: hidden;
                    }
                    .ecom-slider--container .ecom-swiper-pagination-bullet,
                    .ecom-slider--container .ecom-swiper-pagination-bullet-active{
                        background-clip: content-box;
                        padding: 1px;
                        box-sizing: content-box !important;
                        background-color: currentColor;
                    }
                     .ecom-swiper-container-horizontal>.ecom-swiper-pagination-bullets{
                        width:auto;
                    }
                    .ecom-slider--container .ecom-swiper-slide{
                        position: relative;
                    }
                    .ecom-swiper-slide div.core__blocks>div.core__blocks--body{
                        display:flex
                    }
                    .ecom-content-item__container {
                        width: 100%;
                        z-index: 99;
                    }
                    .ecom-swiper-slide .ecom-content-item {
                        display: flex;
                        justify-content: center;
                    }
                    .ecom-image-background{
                        position:absolute;
                        top:0;
                        left:0;
                        height: 100% !important;
                        width: 100%;
                    }
                    .ecom-image-background img{
                        position:absolute;
                        top:0;
                        left:0;
                        height: 100% !important;
                        width: 100%;
                        object-fit: cover;
                        object-position: center center;
                    }

                    .ecom-overlay {
                        display: block;
                        position: absolute;
                        inset: 0;
                    }

                    .ecom-overlay span {
                        opacity: 0;
                        visibility: hidden;
                    }

                    .ecom-slider--container .ecom-swiper-pagination-bullets, .ecom-swiper-pagination-custom, .ecom-swiper-pagination-fraction {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        bottom: 0;
                    }

                    .ecom-slider--container .ecom-swiper-pagination-bullets, .ecom-swiper-pagination-custom, .ecom-swiper-pagination-fraction {
                        bottom: 0;
                    }
                    .ecom-content-item {
                        height: 100%;
                    }
                    .ecom-slider--container .ecom-swiper-navigation[data-navigator-type="classic"] .ecom-swiper-pagination,
                    .ecom-slider--container .ecom-swiper-navigation:not([data-navigator-type]) .ecom-swiper-pagination {
                        width:100%
                    }
                    .ecom-transition-Bottom2Top, .ecom-transition-Top2Bottom, .ecom-transition-Left2Right, .ecom-transition-Right2Left {
                        transform: translateY(40px);
                        -webkit-transform: translateY(40px);
                        -moz-transform: translateY(40px);
                        transition: .4s cubic-bezier(.44, .13, .48, .87) .3s;
                        -webkit-transition: .4s cubic-bezier(.44, .13, .48, .87) .3s;
                        opacity: 0;
                    }
                    .ecom-transition-Top2Bottom {
                        transform: translateY(-40px);
                        -webkit-transform: translateY(-40px);
                        -moz-transform: translateY(-40px);
                    }
                    .ecom-transition-Left2Right {
                        transform: translateX(-40px);
                        -webkit-transform: translateX(-40px);
                        -moz-transform: translateX(-40px);
                    }
                    .ecom-transition-Right2Left {
                        transform: translateX(40px);
                        -webkit-transform: translateX(40px);
                        -moz-transform: translateX(40px);
                    }
                    .ecom-swiper-slide.swiper-slide-active .ecom-transition-Bottom2Top, .ecom-swiper-slide.swiper-slide-active .ecom-transition-Top2Bottom, .ecom-swiper-slide.swiper-slide-active .ecom-transition-Left2Right, .ecom-swiper-slide.swiper-slide-active .ecom-transition-Right2Left {
                        transform: translateY(0);
                        -webkit-transform: translateY(0);
                        -moz-transform: translateY(0);
                        opacity: 1;
                    }
                    .ecom-swiper-pagination-bullet {
                        position: relative;
                    }
                    .ecom-swiper-pagination-bullet:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        height: 0;
                        left: 0;
                        width: 100%;
                        box-shadow: 0 0 1px #fff;
                        -webkit-transition: height .3s;
                        transition: height .5s;
                    }
                    .ecom-swiper-button {
                      position: var(--ecom-position);
                    }
                    @media (max-width: 1024px) {
                      .ecom-swiper-button {
                        position: var(--ecom-position__tablet);
                      }
                    }
                    @media (max-width: 768px) {
                      .ecom-swiper-button {
                        position: var(--ecom-position__mobile);
                      }
                    }
                
@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.ecom-core.ecom-7redbx2aqzh{width: 100%;}.ecom-core.ecom-7redbx2aqzh>div.core__column--wrapper>div.core__blocks>div.core__blocks--body{align-items: center;align-content: center;}.ecom-core.ecom-7redbx2aqzh>div.core__column--wrapper>div.core__blocks>.core__blocks--body{justify-content: center;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-7redbx2aqzh{width: 100%;}}html body .ecom-core.ecom-kq5hvew9vb .ecom-core.ecom-7redbx2aqzh>div.core__column--wrapper{margin: 0px;padding: 0px;}.ecom-core.ecom-mh0d5u5fga .ecom-slider--container{padding-left: calc((100% - 100%) / 2);padding-right: calc((100% - 100%) / 2);}.ecom-core.ecom-mh0d5u5fga .ecom-slider .ecom-swiper-slide{height: 750px;}.ecom-core.ecom-mh0d5u5fga .ecom-content-item{align-content: center;align-items: center;display: flex;}.ecom-core.ecom-mh0d5u5fga .ecom-swiper-pagination-position{justify-content: flex-start;align-items: flex-start;}.ecom-core.ecom-mh0d5u5fga .ecom-swiper-pagination-bullet.ecom-swiper-pagination-bullet-active:after{height: 0;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-mh0d5u5fga .ecom-slider .ecom-swiper-slide{height: 500px;}}.ecom-core.ecom-mh0d5u5fga .ecom-slider--container .ecom-swiper-pagination-bullet{width: 8px;height: 8px;background-color: #000;border-style: solid;border-width: 1px;border-color: transparent;transition: all 300ms ease;}.ecom-core.ecom-mh0d5u5fga .ecom-slider--container .ecom-swiper-pagination-bullet:hover{background-color: #000;border-style: solid;border-width: 1px;border-color: #000;}.ecom-core.ecom-mh0d5u5fga .ecom-slider--container .ecom-swiper-pagination-bullet.ecom-swiper-pagination-bullet-active{background-color: #000;border-style: solid;border-width: 1px;border-color: #000;}.ecom-core.ecom-mh0d5u5fga .ecom-slider--container .ecom-swiper-pagination .ecom-swiper-pagination-bullet{margin: -50px -10px 5px 20px;padding: 5px;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-mh0d5u5fga .ecom-slider--container .ecom-swiper-pagination .ecom-swiper-pagination-bullet{margin-top: -35px;}}.ecom-core.ecom-mh0d5u5fga{padding: 0px;margin: 0px;width: 100%;max-width:100%;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-mh0d5u5fga{}}.ecom-core.ecom-dd76zt2mojl>div.core__row--columns{max-width: 1320px;}.ecom-core.ecom-dd76zt2mojl{padding: 0px;}.ecom-core.ecom-unv9vpaxg9{width: 100%;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-unv9vpaxg9{width: 100%;}}.ecom-core.ecom-ihwefpcwu5 .ecom__element--button{gap: 6px;}.ecom-core.ecom-ihwefpcwu5 .ecom-button-default{justify-content: flex-start;}.ecom-core.ecom-ihwefpcwu5 .ecom__element--button{font-family: 'Outfit', sans-serif;font-size: 16px;font-weight: 500;line-height: 1.75px;color: #ffffff;background-color: #000;border-radius: 0px;padding: 15px 30px 15px 30px;margin: 0px;}.ecom-core.ecom-ihwefpcwu5 .ecom__element--button:hover{color: #ffffff;background-color: #000;}.ecom-core.ecom-ihwefpcwu5 .ecom-button-icon svg{height: 20px;width: 20px;}.ecom-core.ecom-ihwefpcwu5{padding-bottom: 0;padding-left: 0%;}.ecom-core.ecom-2ijv8t5142g .text-content,.ecom-core.ecom-2ijv8t5142g  .text-content a,.ecom-core.ecom-2ijv8t5142g  .text-content p,.ecom-core.ecom-2ijv8t5142g  .text-content span{text-align: left;color: #777;}.ecom-core.ecom-2ijv8t5142g .text-content,.ecom-core.ecom-2ijv8t5142g .text-content a,.ecom-core.ecom-2ijv8t5142g  .text-content a,.ecom-core.ecom-2ijv8t5142g  .text-content a a,.ecom-core.ecom-2ijv8t5142g  .text-content p,.ecom-core.ecom-2ijv8t5142g  .text-content p a,.ecom-core.ecom-2ijv8t5142g  .text-content span,.ecom-core.ecom-2ijv8t5142g  .text-content span a{font-family: 'Outfit', sans-serif;font-size: 16px;font-weight: 300;line-height: 1.75em;}.ecom-core.ecom-2ijv8t5142g{padding-bottom: 0;margin-bottom: 50px;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-2ijv8t5142g{margin-bottom: 25px;}}.ecom-core.ecom-sbft7h74cr .text-content,.ecom-core.ecom-sbft7h74cr  .text-content a,.ecom-core.ecom-sbft7h74cr  .text-content p,.ecom-core.ecom-sbft7h74cr  .text-content span{text-align: left;color: #000;}.ecom-core.ecom-sbft7h74cr .text-content,.ecom-core.ecom-sbft7h74cr .text-content a,.ecom-core.ecom-sbft7h74cr  .text-content a,.ecom-core.ecom-sbft7h74cr  .text-content a a,.ecom-core.ecom-sbft7h74cr  .text-content p,.ecom-core.ecom-sbft7h74cr  .text-content p a,.ecom-core.ecom-sbft7h74cr  .text-content span,.ecom-core.ecom-sbft7h74cr  .text-content span a{font-family: 'Outfit', sans-serif;font-weight: 300;font-size: 40px;line-height: 1.2em;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-sbft7h74cr .text-content,.ecom-core.ecom-sbft7h74cr .text-content a,.ecom-core.ecom-sbft7h74cr  .text-content a,.ecom-core.ecom-sbft7h74cr  .text-content a a,.ecom-core.ecom-sbft7h74cr  .text-content p,.ecom-core.ecom-sbft7h74cr  .text-content p a,.ecom-core.ecom-sbft7h74cr  .text-content span,.ecom-core.ecom-sbft7h74cr  .text-content span a{font-size: 30px;}}.ecom-core.ecom-sbft7h74cr{padding-bottom: 0px;margin-bottom: 25px;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-sbft7h74cr{margin-top: 0px;margin-bottom: 10px;}}.ecom-core.ecom-ox8dcy61ps .text-content,.ecom-core.ecom-ox8dcy61ps  .text-content a,.ecom-core.ecom-ox8dcy61ps  .text-content p,.ecom-core.ecom-ox8dcy61ps  .text-content span{text-align: left;color: #000;}.ecom-core.ecom-ox8dcy61ps .text-content,.ecom-core.ecom-ox8dcy61ps .text-content a,.ecom-core.ecom-ox8dcy61ps  .text-content a,.ecom-core.ecom-ox8dcy61ps  .text-content a a,.ecom-core.ecom-ox8dcy61ps  .text-content p,.ecom-core.ecom-ox8dcy61ps  .text-content p a,.ecom-core.ecom-ox8dcy61ps  .text-content span,.ecom-core.ecom-ox8dcy61ps  .text-content span a{font-family: 'Outfit', sans-serif;font-size: 75px;font-weight: 500;line-height: 1.2em;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-ox8dcy61ps .text-content,.ecom-core.ecom-ox8dcy61ps .text-content a,.ecom-core.ecom-ox8dcy61ps  .text-content a,.ecom-core.ecom-ox8dcy61ps  .text-content a a,.ecom-core.ecom-ox8dcy61ps  .text-content p,.ecom-core.ecom-ox8dcy61ps  .text-content p a,.ecom-core.ecom-ox8dcy61ps  .text-content span,.ecom-core.ecom-ox8dcy61ps  .text-content span a{font-size: 40px;line-height: 1em;}}.ecom-core.ecom-ox8dcy61ps{padding-bottom: 0;margin-top: 0px;margin-bottom: 10px;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-ox8dcy61ps{margin-bottom: 10px;}}.ecom-core.ecom-76t5yyp8z8x>div.core__row--columns{max-width: 1320px;}.ecom-core.ecom-76t5yyp8z8x{padding: 0px;}.ecom-core.ecom-0dys9ir19zou{width: 100%;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-0dys9ir19zou{width: 100%;}}.ecom-core.ecom-61aunqkumc7 .ecom-button-default{justify-content: flex-start;}.ecom-core.ecom-61aunqkumc7 .ecom__element--button{font-family: 'Poppins', sans-serif;font-size: 12px;font-weight: 500;line-height: 1em;text-transform: uppercase;letter-spacing: 2.4px;color: #ffffff;background-color: #000;border-style: none;border-radius: 0px;transition-duration: 400ms;;;padding: 16px 34px 16px 34px;margin: 0px;}.ecom-core.ecom-61aunqkumc7 .ecom__element--button:hover{color: #ffffff;background-color: #0ec1ae;border-style: none;cursor: pointer;}.ecom-core.ecom-61aunqkumc7{padding-bottom: 0;padding-left: 0px;margin-top: 0px;animation-duration: 1000ms !important;animation-delay: 400ms;transition-delay: 400ms;transition-property: opacity;}.ecom-core.ecom-61aunqkumc7.ecom-animated{animation-name: fadeInUp;;animation-duration: .75s;;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-61aunqkumc7{margin-top: 0px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-61aunqkumc7{margin-top: 0px;}}.ecom-core.ecom-7h3zj26qi3 .text-content,.ecom-core.ecom-7h3zj26qi3  .text-content a,.ecom-core.ecom-7h3zj26qi3  .text-content p,.ecom-core.ecom-7h3zj26qi3  .text-content span{text-align: left;color: #000;}.ecom-core.ecom-7h3zj26qi3 .text-content,.ecom-core.ecom-7h3zj26qi3 .text-content a,.ecom-core.ecom-7h3zj26qi3  .text-content a,.ecom-core.ecom-7h3zj26qi3  .text-content a a,.ecom-core.ecom-7h3zj26qi3  .text-content p,.ecom-core.ecom-7h3zj26qi3  .text-content p a,.ecom-core.ecom-7h3zj26qi3  .text-content span,.ecom-core.ecom-7h3zj26qi3  .text-content span a{font-size: 30px;font-weight: 500;text-transform: none;font-style: normal;text-decoration: none;line-height: 1em;font-family: 'Poppins', sans-serif;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-7h3zj26qi3 .text-content,.ecom-core.ecom-7h3zj26qi3 .text-content a,.ecom-core.ecom-7h3zj26qi3  .text-content a,.ecom-core.ecom-7h3zj26qi3  .text-content a a,.ecom-core.ecom-7h3zj26qi3  .text-content p,.ecom-core.ecom-7h3zj26qi3  .text-content p a,.ecom-core.ecom-7h3zj26qi3  .text-content span,.ecom-core.ecom-7h3zj26qi3  .text-content span a{font-size: 24px;}}.ecom-core.ecom-7h3zj26qi3{margin-top: 0px;margin-bottom: 22px;padding-bottom: 0;animation-duration: 1000ms !important;animation-delay: 300ms;transition-delay: 300ms;transition-property: opacity;}.ecom-core.ecom-7h3zj26qi3.ecom-animated{animation-name: fadeInUp;;animation-duration: .75s;;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-7h3zj26qi3{margin-top: 0px;margin-bottom: 22px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-7h3zj26qi3{margin-top: 0px;margin-bottom: 22px;}}.ecom-core.ecom-ziqxj5bj95 .text-content,.ecom-core.ecom-ziqxj5bj95  .text-content a,.ecom-core.ecom-ziqxj5bj95  .text-content p,.ecom-core.ecom-ziqxj5bj95  .text-content span{text-align: left;color: #000;}.ecom-core.ecom-ziqxj5bj95 .text-content,.ecom-core.ecom-ziqxj5bj95 .text-content a,.ecom-core.ecom-ziqxj5bj95  .text-content a,.ecom-core.ecom-ziqxj5bj95  .text-content a a,.ecom-core.ecom-ziqxj5bj95  .text-content p,.ecom-core.ecom-ziqxj5bj95  .text-content p a,.ecom-core.ecom-ziqxj5bj95  .text-content span,.ecom-core.ecom-ziqxj5bj95  .text-content span a{font-size: 16px;font-weight: 400;text-transform: capitalize;font-style: normal;text-decoration: none;line-height: 1em;font-family: 'Poppins', sans-serif;}.ecom-core.ecom-ziqxj5bj95{padding-bottom: 0;margin-top: 0px;margin-bottom: 15px;animation-duration: 1000ms !important;animation-delay: 200ms;transition-delay: 200ms;transition-property: opacity;}.ecom-core.ecom-ziqxj5bj95.ecom-animated{animation-name: fadeInUp;;animation-duration: .75s;;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-ziqxj5bj95{margin-top: 0px;margin-bottom: 15px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-ziqxj5bj95{margin-top: 0px;margin-bottom: 15px;}}.ecom-core.ecom-k9ol0iosbb .text-content,.ecom-core.ecom-k9ol0iosbb  .text-content a,.ecom-core.ecom-k9ol0iosbb  .text-content p,.ecom-core.ecom-k9ol0iosbb  .text-content span{text-align: left;color: #000;}.ecom-core.ecom-k9ol0iosbb .text-content,.ecom-core.ecom-k9ol0iosbb .text-content a,.ecom-core.ecom-k9ol0iosbb  .text-content a,.ecom-core.ecom-k9ol0iosbb  .text-content a a,.ecom-core.ecom-k9ol0iosbb  .text-content p,.ecom-core.ecom-k9ol0iosbb  .text-content p a,.ecom-core.ecom-k9ol0iosbb  .text-content span,.ecom-core.ecom-k9ol0iosbb  .text-content span a{font-size: 60px;font-weight: 300;text-transform: capitalize;line-height: 1.3em;font-family: 'Poppins', sans-serif;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-k9ol0iosbb .text-content,.ecom-core.ecom-k9ol0iosbb .text-content a,.ecom-core.ecom-k9ol0iosbb  .text-content a,.ecom-core.ecom-k9ol0iosbb  .text-content a a,.ecom-core.ecom-k9ol0iosbb  .text-content p,.ecom-core.ecom-k9ol0iosbb  .text-content p a,.ecom-core.ecom-k9ol0iosbb  .text-content span,.ecom-core.ecom-k9ol0iosbb  .text-content span a{font-size: 60px;font-weight: 300;text-transform: capitalize;line-height: 70px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-k9ol0iosbb .text-content,.ecom-core.ecom-k9ol0iosbb .text-content a,.ecom-core.ecom-k9ol0iosbb  .text-content a,.ecom-core.ecom-k9ol0iosbb  .text-content a a,.ecom-core.ecom-k9ol0iosbb  .text-content p,.ecom-core.ecom-k9ol0iosbb  .text-content p a,.ecom-core.ecom-k9ol0iosbb  .text-content span,.ecom-core.ecom-k9ol0iosbb  .text-content span a{font-size: 32px;}}.ecom-core.ecom-k9ol0iosbb{padding-top: 0px;padding-bottom: 0px;margin-top: 0px;margin-bottom: 25px;animation-duration: 1000ms !important;animation-delay: 100ms;transition-delay: 100ms;transition-property: opacity;}.ecom-core.ecom-k9ol0iosbb.ecom-animated{animation-name: fadeInUp;;animation-duration: .75s;;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-k9ol0iosbb{margin-top: 0px;padding-top: 0px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-k9ol0iosbb{margin-bottom: 15px;}}.ecom-core.ecom-3b3kpbhl58e .text-content,.ecom-core.ecom-3b3kpbhl58e  .text-content a,.ecom-core.ecom-3b3kpbhl58e  .text-content p,.ecom-core.ecom-3b3kpbhl58e  .text-content span{text-align: left;color: #000;}.ecom-core.ecom-3b3kpbhl58e .text-content,.ecom-core.ecom-3b3kpbhl58e .text-content a,.ecom-core.ecom-3b3kpbhl58e  .text-content a,.ecom-core.ecom-3b3kpbhl58e  .text-content a a,.ecom-core.ecom-3b3kpbhl58e  .text-content p,.ecom-core.ecom-3b3kpbhl58e  .text-content p a,.ecom-core.ecom-3b3kpbhl58e  .text-content span,.ecom-core.ecom-3b3kpbhl58e  .text-content span a{font-family: 'Poppins', sans-serif;font-size: 16px;font-weight: 500;line-height: 1.2em;text-transform: uppercase;letter-spacing: 4.8px;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-3b3kpbhl58e .text-content,.ecom-core.ecom-3b3kpbhl58e .text-content a,.ecom-core.ecom-3b3kpbhl58e  .text-content a,.ecom-core.ecom-3b3kpbhl58e  .text-content a a,.ecom-core.ecom-3b3kpbhl58e  .text-content p,.ecom-core.ecom-3b3kpbhl58e  .text-content p a,.ecom-core.ecom-3b3kpbhl58e  .text-content span,.ecom-core.ecom-3b3kpbhl58e  .text-content span a{font-size: 15px;text-transform: uppercase;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-3b3kpbhl58e .text-content,.ecom-core.ecom-3b3kpbhl58e .text-content a,.ecom-core.ecom-3b3kpbhl58e  .text-content a,.ecom-core.ecom-3b3kpbhl58e  .text-content a a,.ecom-core.ecom-3b3kpbhl58e  .text-content p,.ecom-core.ecom-3b3kpbhl58e  .text-content p a,.ecom-core.ecom-3b3kpbhl58e  .text-content span,.ecom-core.ecom-3b3kpbhl58e  .text-content span a{font-size: 13px;line-height: 1em;letter-spacing: 3.1px;text-transform: uppercase;}}.ecom-core.ecom-3b3kpbhl58e{padding-bottom: 0;margin-top: 0px;margin-bottom: 2px;animation-duration: 1000ms !important;}.ecom-core.ecom-3b3kpbhl58e.ecom-animated{animation-name: fadeInUp;;animation-duration: .75s;;}@media screen and (max-width: 1024px) and (min-width: 768px){.ecom-core.ecom-3b3kpbhl58e{padding-bottom: 0px;margin-bottom: 0px;}}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-3b3kpbhl58e{margin-bottom: 0px;}}.ecom-core.ecom-kq5hvew9vb{background-color: #f0efea;}.ecom-core.ecom-kq5hvew9vb{padding-top: 0px;padding-bottom: 0;}@media screen and (max-width: 767px) and (min-width: 101px){.ecom-core.ecom-kq5hvew9vb{padding: 0px;margin: 0px;}}

